{% extends "base.html" %}
{% block title %}{{page_name}}{% endblock title %}
{% block body %}

<div class="container">
	<div class="activate-wrapper">
		<div class="card-wrapper">
      <button onclick="history.back()" class="btn btn-primary">Go Back</button>
			<div class="card" style="width: 18rem;">
				<img src="../static/image/search.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Activate</h5>
					<p class="card-text">Activate the group divisor</p>
					<button id="teamDivider" class="btn btn-primary">Activate</button>
				</div>
			</div>
		</div>

		<div id='itemdisplay' class="itemdisplay"></div>
	</div>
</div>
{% endblock body %}