{% extends "base.html" %}
{% block title %}
    {{page_name}}
{% endblock title %}
{% block body %}
    <!-- profile page <br>
    User Id: {{user_id}} <br>
    First Name: {{first_name}} <br>
    Last Name:  {{last_name}} <br>
    Email: {{email}} <br> -->

    <div class="student-profile">
        <div class="std-box">
            <div class="std-img">
                <img src="../static/image/group.jpg" alt="">
            </div>
            
            <span class="useriddata d-none" data-userid="{{user_id}}"></span>

            <div class="std-details">
                <div class="std-name">
                    {{first_name}} {{last_name}}
                </div>
                <div class="std-email">
                    {{email}}
                </div>
            </div>
        </div>
        <div class="std-graph">
            <canvas id="RadarChart" width="" height=""></canvas>
            <ul class="legend-list">
                <li>Coding</li>
                <li>Team Leadership</li>
                <li>Communication Skill</li>
                <li>Presentation designing</li>
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            // Path to JSON file: "../data/data.json"
            fetch('/static/data/data.json') // Go up one directory from 'templates' to 'data'
                .then(response => response.json()) // Parse the JSON data
                .then(data => {
                    console.log(data); // Handle your data here

                })
                .catch(error => {
                    console.error('Error reading JSON file:', error);
                });

            // Example to log 'data-userid' attribute of an element with class 'useriddata'
            console.log(document.querySelector('.useriddata').getAttribute('data-userid'));
        });
    </script>

{% endblock body %}