{% extends "base.html" %}

{% block title %}
{{page_name}}
{% endblock title %}
{% block body %}
        {% comment %} <div class="container">
            <div class="skill-selection">
                <h2>Skill Selection for the project</h2>
                <form name="userForm" onsubmit="return validateForm(event)">
                    <label for="coding">Coding :</label>
                    <input type="checkbox" id="coding" name="coding"><br /><br />

                    <label for="leadership">Leadership :</label>
                    <input type="checkbox" id="leadership" name="leadership"><br /><br />

                    <label for="communication">Communication Skills :</label>
                    <input type="checkbox" id="communication" name="communication"><br /><br />

                    <label for="presentation">Presentation :</label>
                    <input type="checkbox" id="presentation" name="presentation"><br /><br />

                    <input type="button" id="submit" name="submit" value="Submit">

                </form>
            </div>
        </div> {% endcomment %}
        <form name="groupgenerator" action = "/group-generator" method = "POST">
            {% csrf_token %}
            <input type="button" value={{ user.username }} id = 'username'>
        </form>
        {% endblock body %}